{% extends 'package_app/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Details of packages under subproject {{subproject.subproject_name}} is below: </h1>
      
      {% if subproject.rnsubproject.all %}

      <ol>
        {% for items in subproject.rnsubproject.all %}

        <h5><li>Package No: {{items.package_no}}</li></h5>
        <ul>
          <li>Package No: {{items.package_no}}</li>
          <li>Package Name:{{items.package_name}} </li>
          <li>Estimated Cost: {{items.estimate_value}} BDT</li>
          <li>Contract Value: {{items.contract_value}} BDT</li>
          <li>Name of Contractor: {{items.contractor_name}}</li>
          <li>Less or Above: {{items.less_above}}</li>
          <li>Bill Paid: {{items.total_expense}} BDT</li>
        </ul>
        {% endfor %}
      </ol>
      {% else %}
        <h1> No data found for {{subproject.subproject_name}}</h1>
    </div>
  </div>
      {% endif %}

    </div>
      <div class="container">
        <p><a class='btn btn-warning' href="{% url 'package_app:spupdate' pk=subproject.pk %}">Update</a></p>
    </div>

{% endblock %}
